@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&family=Rubik+Burned&family=Sedan+SC&family=Single+Day&display=swap');



:root {
    --primary-color: #6dcf75;
    --secondary-color: #0d00ca;
    --background-color: #83c5be;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
}

.socialmedia {
    text-decoration: none;
    color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
    width: 100%;
    background-image: url(heroimage.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.hero img {
    display: block;
    width: 100%;
    position: relative;

}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero article {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50, -50);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    
}

.hero article p {
    color: white;
    position: relative;
    right: 20%;

}

.hero article img {
    position: relative;
    right: 50%;
    float: left;
    margin-left: 100px;  
}

footer img {
    position: relative;
    width: 50px;
    margin-bottom: 10px;
}

section img {
    width: 50%;
}

header {
    margin: 1rem;
    display: grid;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1600px;
    text-decoration: none;
    background-color: var(--background-color);
    
}

header img {
    grid-column: 1;   
}

nav {
    grid-column: 2;
}

.links {
    display: flex;
    gap: 7rem;
    list-style: none;
    text-decoration: none;
}

.links a:hover {
    color: #9c6644;
    font-weight: 700;
    text-decoration: underline;
}
   
.historygrid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    gap: 20px;
    padding: 20px;
}

h2 {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

img {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.historyparagraph {
    grid-column: 1;
    grid-row: 1/2;
    justify-self: center;
    justify-self: center;
}



.adventure {
    display: grid;
    gap: 0.5rem ;
    width: 100%;
    padding: 1rem;
    
}

div {
    display: flex;
    gap: 0.5rem;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
  .title img {
    max-width: 220px;
    max-height: 150px;
    justify-self: center;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    align-self: center;
  }

  .contact {
    background-color: #edf6f9;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 90px 100px 100px 800px;
}

.form-group {
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkbox {
    display: block;
    width: 100%;
    margin: 5px;
}

.radio {
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
}

.maps {
    display: block;
    width: 492px;
    height: 449px;
    background: #EDF0F4;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 700px;
}

.address,
.phone,
.email {
    text-align: center;
    text-decoration: double;
    color: #222;
    font-family: 'Courier New', Courier, monospace;
    
}

h4 {
	width: 1180px;
	height: 117px;
	padding: 8px 8px 8px 8px;
	background: #edf2f4 ;
	border-radius: 3px 3px 3px 3px;
    text-align: center;
    color: #3B4754;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
}

.address {
    margin-left: 90px;
	width: 286px;
	height: 185px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #C9D3DD;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
    margin-right: 50px;
    list-style: none;
}

.phone {
	width: 286px;
	height: 185px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #C9D3DD;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
    margin-right: 50px;
}

.email {
    width: 286px;
	height: 185px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	border-color: #C9D3DD;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
}

.directions {
    position: absolute;
    margin-top: -300px;
    margin-left: 10px;
}

.happy {

    display: flex;
	width: 893px;
	height: 401px;
    margin-top: 50px;
}

.happy2 {
    display: block;
	width: 893px;
	height: 401px;
    margin-bottom: 10px;

    margin-left: 600px;
}

.happy3 {
    display: block;
	width: 893px;
	height: 501px;
    margin-top: 10px;

}