@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&family=Rubik+Burned&family=Sedan+SC&family=Single+Day&display=swap');



:root {
    --primary-color: #820263;
    --secondary-color: #04a777;
    --background-color: #2ec4b6;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
}

.socialmedia {
    text-decoration: none;
    color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
    width: 100%;
    background-image: url(heroimage.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.hero img {
    display: block;
    width: 100%;
    position: relative;

}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%)px;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero article {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50, -50);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    
}

.hero article p {
    color: white;
    position: relative;
    right: 20%;

}

.hero article img {
    position: relative;
    right: 50%;
    float: left;
    margin-left: 100px;  
}

footer img {
    width: 50px;
    margin-bottom: 10px;
}

section img {
    width: 50%;
}

header {
    margin: 1rem;
    display: grid;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1600px;
    text-decoration: none;
    background-color: var(--background-color);
    
}

header img {
    grid-column: 1;   
}

nav {
    grid-column: 2;
}

.links {
    display: flex;
    gap: 7rem;
    list-style: none;
    text-decoration: none;
}

.links a:hover {
    color: #9c6644;
    font-weight: 700;
    text-decoration: underline;
}
   
.historygrid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    gap: 20px;
    padding: 20px;
}

h2 {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

img {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.historyparagraph {
    grid-column: 1;
    grid-row: 1/2;
    justify-self: center;
    justify-self: center;
}



.adventure {
    display: grid;
    gap: 0.5rem ;
    width: 100%;
    padding: 1rem;
    
}

div {
    display: flex;
    gap: 0.5rem;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
  .title img {
    max-width: 220px;
    max-height: 150px;
    justify-self: center;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    align-self: center;
  }


